#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

/* Tooltip container */
.tooltip-trigger {
  position: relative;
  display: inline-block;
  cursor: help; 
  border-bottom: 1px dotted #888; 
}

/* tooltip text */
.tooltip-trigger .tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #333; 
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 12px;
  
  position: absolute;
  z-index: 100;
  bottom: 125%; /*put above text*/
  left: 120%;
  margin-left: -110px; 
  
  
  opacity: 0;
  transition: opacity 0.3s;
  
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

/* arrow*/
.tooltip-trigger .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-trigger:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
