#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

/* Tooltip container */
.tooltip-trigger {
  position: relative;
  display: inline-block;
  cursor: help; 
  border-bottom: 1px dotted #888; 
}

/* tooltip text */
.tooltip-trigger .tooltip-text {
  visibility: hidden;
  width: 200px; 
  background-color: #333; 
  color: #fff;
  text-align: left; 
  border-radius: 6px;
  padding: 10px;
  
  position: absolute;
  z-index: 1000; 
  bottom: 135%; 
  left: 50%; 
  transform: translateX(-50%); 
  margin-left: 0; 
  

  opacity: 0;
  transition: opacity 0.3s;
  
  font-size: 11px; 
  font-weight: normal;
  line-height: 1.4;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}

/* arrow*/
.tooltip-trigger .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-trigger:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
